@model IEnumerable<BTRS.Models.BookingTrips>

@{
    ViewData["Title"] = "Booking Trips";
}

<h1>Booking Trips</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TripID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TripID">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Back">Back to List</a>
</div>

