@model BTRS.Models.RoleSelection
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="post" action="@Url.Action("SelectRole", "Home")">
    <label>Select your role:</label>
    <select asp-for="SelectedRole">
        <option value="Administrator">Administrator</option>
        <option value="Passenger">Passenger</option>
    </select>
    <button type="submit">Submit</button>
</form>