@model BTRS.Models.methodSelection
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>


    form {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        box-sizing: border-box;
    }

    button {
        background-color: cadetblue;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        button:hover {
            background-color: cadetblue; 
        }

</style>
<form method="post" action="@Url.Action("SelectMethod", "administrator")">
    <label>Select your method :</label>
    <select asp-for="SelectedMethod">
        <option value="SignUp">SignUp</option>
        <option value="Login">Login</option>
    </select>
    <button type="submit">Submit</button>
</form>