@model BTRS.Models.methodSelection
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="@Url.Action("SelectMethod", "administrator")">
    <label>Select your method :</label>
    <select asp-for="SelectedMethod">
        <option value="SignUp">SignUp</option>
        <option value="Login">Login</option>
    </select>
    <button type="submit">Submit</button>
</form>